html, body {
    background-color: #9fa5ff;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

h1 {
    padding: 50px;
    font-family: serif;
    background-color: #dedfef;
    text-align: center;
    color: dimgrey;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.3em;
    white-space: nowrap;
}

.outer {
    padding: 50px;
}

button {
    border: none;
    background-color: white;
    padding: 8px 32px;
    margin: 4px;
}

button.delete {
    padding: 8px 8px;
}

input[type=text] {
    padding: 4px;
}